/*@import "compass/css3";*/

*{
  @include box-sizing(border-box);
  font-family: 'Bodoni MT', Didot, 'Didot LT STD', 'Hoefler Text', Garamond, 'Times New Roman', serif;
}

/*styling for browswer width between 0 and 700px*/
@media (max-width: 700px) {
  body{
  	font-size: 100%;
  	line-height: 1.7;
    overflow-x: hidden;
    background: rgba(0,0,0,.1);
  }
  a {
    color: inherit;
  }

  a:hover{
    color: #FAD1A2;
  }

  /*.headerContactIcons{
    width:100%;
    height: 8vh;
    position: relative;
    left: 37vw;
  }

  .headerContactIcons img{
    margin-left: 1vw;
  }*/

  .wrap{
  	max-width: 500px;
  	margin: 0 auto;
  	position: relative;
  }

  header{
  	width: 100%;
  	height: 600px;
  	background: url('https://static.pexels.com/photos/8252/hand-large.jpg') center 0 no-repeat;
  	background-attachment: fixed;

  }

  #header-inner{
  	width: 500px;
  	position: absolute;
  	top: 10%;
  	color: white;
    text-align: center;
    opacity:0;
    animation:fade 3s forwards;
    -moz-animation:fade 3s forwards;
    -webkit-animation:fade 3s forwards;
    -o-animation:fade 3s forwards;
    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -o-animation-delay:0.2s;
  }

  /*Animation mixins for title fade in*/

  @keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-moz-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-webkit-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-o-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }

  #tpasque-title{
  	font-size: 2.8em;
    margin-top: -14vh;
    margin-left: 1vw;
    color: #3D8C95;
  }

  article{
  	background: white;
  }

  section{
  	padding: 2rem 100px;
  	margin-bottom: 2rem;
  	background: #fff;
  	z-index: 100;
  }

  .content{
    color: #3D8C95;
  }

  .project-section{
    width: 400px;
    margin: 0 auto;
    position: relative;
    color: #3D8C95;
  }

  .imageContainerPiper{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .imageContainerPiper img{
    width:80%;
    height:18vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .imageContainerO4l{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .imageContainerO4l img{
    width:80%;
    height:20vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .imageContainerCF{
    width: 100%;
    height: 100%;
    position: relative;
  }

  .imageContainerCF img{
    width:80%;
    height:20vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    position: relative;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .contactIcons{
    width:100%;
    height: 8vh;
    position: relative;
    /*left: 9vw;*/
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .contactIcons img{
    margin-left: 4vw;
  }

  /*.contactIcons img:hover{
    border: 3px solid #FAD1A2;
    border-radius: 50%;
  }*/

}

/*styling for browswer width greater than 700px*/
@media (min-width: 700px) {
  body{
  	font-size: 100%;
  	line-height: 1.7;
    overflow-x: hidden;
    background: rgba(0,0,0,.1);
  }
  a {
    color: inherit;
  }

  a:hover{
    color: #FAD1A2;
  }

  /*.headerContactIcons{
    width:100%;
    height: 8vh;
    position: relative;
    left: 37vw;
  }

  .headerContactIcons img{
    margin-left: 1vw;
  }*/

  .wrap{
  	max-width: 1100px;
  	margin: 0 auto;
  	position: relative;
  }

  header{
  	width: 100%;
  	height: 600px;
  	background: url('https://static.pexels.com/photos/8252/hand-large.jpg') center 0 no-repeat;
  	background-attachment: fixed;

  }

  #header-inner{
  	width: 800px;
  	position: absolute;
  	top: 10%;
  	color: white;
    text-align: center;
    opacity:0;
    animation:fade 3s forwards;
    -moz-animation:fade 3s forwards;
    -webkit-animation:fade 3s forwards;
    -o-animation:fade 3s forwards;
    animation-delay:0.2s;
    -moz-animation-delay:0.2s;
    -webkit-animation-delay:0.2s;
    -o-animation-delay:0.2s;
  }

  /*Animation mixins for title fade in*/

  @keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-moz-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-webkit-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }
  @-o-keyframes fade{
    from{opacity:0}
    to{opacity:1}
  }

  #tpasque-title{
  	font-size: 2.8em;
    margin-top: -6vh;
    margin-left: 1vw;
    color: #3D8C95;
  }

  article{
  	background: white;
  }

  section{
  	padding: 2rem 100px;
  	margin-bottom: 2rem;
  	background: #fff;
  	z-index: 100;
  }

  .content{
    color: #3D8C95;
  }

  .project-section{
    width: 900px;
    margin: 0 auto;
    position: relative;
    color: #3D8C95;
  }

  .imageContainerPiper{
    width: 100%;
    height: 30vh;
    position: relative;
  }

  .imageContainerPiper img{
    width:31%;
    height:18vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    float:left;
    position: relative;
    left: 1vw;

  }
  .imageContainerO4l{
    width: 100%;
    height: 30vh;
    position: relative;
  }

  .imageContainerO4l img{
    width:30%;
    height:20vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    float:left;
    position: relative;
    left: 1vw;

  }

  .imageContainerCF{
    width: 100%;
    height: 30vh;
    position: relative;
  }

  .imageContainerCF img{
    width:30%;
    height:20vh;
    margin: 1%;
    border-radius: 5px 5px 5px 5px;
    float:left;
    position: relative;
    left: 1vw;

  }

  .contactIcons{
    width:100%;
    height: 8vh;
    position: relative;
    left: 9vw;
    display:block;
    margin-left: auto;
    margin-right: auto;
  }

  .contactIcons img{
    margin-left: 4vw;
  }

  /*.contactIcons img:hover{
    border: 3px solid #FAD1A2;
    border-radius: 50%;
  }*/

}
}
