<div class="wrap">
<article>
  <header class="header">
    <div id="header-inner">
      <h1 id="tpasque-title">Thomas Pasque Portfolio</h1>
    </div>
  </header>
  <section class="content">
    <h2 class="about-me">About me</h2>
    <p class="about-me-text">
      I am currently a developer in the Galvanize Full Stack program learning and enjoying JavaScript, SQL, Express, Angular and Node.
      I am also an entrepreneur and small business owner. Prior to the full stack program at Galvanize I attended
      the University of Colorado where I received my engineering degree as well as a minor in economics. While at CU,
      I played on the CU Men's Rugby team as well as the Collegiate All-American Men's Rugby team.
      <br></br>
      After college I worked for a winery in a sales/management/marketing program. Shortly following the wine world,
      I worked at <a href="http://www.iconergyco.com/">Iconergy</a>, a start up energy engineering firm. While working at the Iconergy, I invested and started
      <a href="http://www.cfcolfax.com">CrossFit Colfax</a> which is located in Denver Colorado as well as a start up tech project that is still under way.
      I am recently married and live in Denver Colorado.
      <br></br>
      Professionally, I enjoy start up activity and the process of building something towards a common goal. I have worked at both large,
      medium and small companies and enjoy different aspects to each. My goal is to contribute to the technical effort at a company and if
      possible, I would like to contribute to the operations as well if needed."
    </p>
  </section>
</article>
</div>
<section class="project-section">
  <h2 class="project-title">Projects</h2>
    <div class="outside4life">
      <h3><u><a href="">Outside4Life</a></u></h3>
        <ul>
          <li>What</li>
            <p>Outside4Life was a group project built for an enterprise non-profit.  Our team managed and built the application which allows parents
            to post pictures of their children's activities in order to accumulate points toward prizes and goals awarded by the non-profit, <a href="http://www.avid4.com/">Avid4Adventure</a>.</p>
          <li>Technologies</li>
            <p>Angular.js, Express.js, Node.js, Heroku, Cloudinary, PostgreSQL, OAuth 2.0</p>
          <li><a href="http://active4life.herokuapp.com/">Live URL</a></li>
          <li><a href="https://github.com/cspan00/ActivityTracker">Github Repo</a></li>
        </ul>
        <div class="imageContainerO4l">
          <img src="assets/o4l_home.png" alt="image not found"/>
          <img src="assets/o4l_add_activity.png" alt="image not found"/>
          <img src="assets/o4l_feed.png" alt="image not found"/>
        </div>
    </div>
    <div class="crossfitapp">
      <h3><u><a href="https://cfgamesdata.firebaseapp.com/">CrossFit Games Analytics</a></u></h3>
        <ul>
          <li>What</li>
            <p>This application uses a custom built JSON to display the 2014 CrossFit Games results. The JSON data includes 2014 CrossFit Games results for the top 40 athletes</p>
          <li>Technologies</li>
            <p>JavaScript, jQuery, HTML, CSS</p>
          <li><a href="https://cfgamesdata.firebaseapp.com/">Live URL</a></li>
          <li><a href="https://github.com/tpasque/crossfit_app">Github Repo</a></li>
        </ul>
        <div class="imageContainerCF">
          <img src="assets/cf_home.png" alt="image not found"/>
          <img src="assets/cf_pie.png" alt="image not found"/>
          <img src="assets/cf_chart.png" alt="image not found"/>
        </div>
    </div>
    <div class="standapp">
      <!-- Put in deployed link -->
      <h3><u><a href="#">StandApp</a></u></h3>
        <ul>
          <li>What</li>
            <p>StandApp is a digital version of the daily Stand Up routine you commonly see at tech companies. Helps, Events and Interestings are all documented in StandApp.</p>
          <li>Technologies</li>
            <p>JavaScript, Bootstrap, Express, Node, LinkedIn OAuth via Passport, Heroku</p>
          <li><a href="#">Live URL</a></li>
          <li><a href="https://github.com/NicolasAndruzzi/EagleForceFalconStrike">Github Repo</a></li>
        </ul>
        <div class="imageContainerStandApp">
          <!-- <img src="assets/cf_home.png" alt="image not found"/>
          <img src="assets/cf_pie.png" alt="image not found"/>
          <img src="assets/cf_chart.png" alt="image not found"/> -->
        </div>
    </div>
    <div class="otherProjects">
      <h3>Other Projects</h3>
      <p>This is just a snapshot, please view my <a href="https://github.com/tpasque">github</a> for other projects that are in the past, present and future projects!</p>

    </div>

    <h2 class="resume">Resume</h2>
    <p>For additional information, please <a href="assets/Resume_TPasque.pdf">click here</a> to view my resume</p>

    <h2 class="contact">Contact</h2>
    <p>I am ready to be an avid and hard working contributor to your team.  My contact information is below!</p>
    <div class="contactIcons">
      <a href="https://github.com/tpasque"><img src="assets/github-11-64.png" alt="no image found" /></a>
      <a href="https://www.linkedin.com/in/tpasque"><img src="assets/linkedin-4-64.png" alt="no image found" /></a>
      <a href="#"><img src="assets/message-64.png" alt="no image found" /></a>
      <a href="https://www.google.com/maps/@39.7441953,-104.9797755,15z"><img src="assets/map-marker-2-64.png" alt="no image found" /></a>



    </div>

</section>
